@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Goldman:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Goldman:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* ==================================== */
/* RESET E CONFIGURAÇÕES GERAIS */
/* ==================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* ==================================== */
/*                TEMAS                 */
/* ==================================== */
:root {
  --bg-color1: #d7d9ce;
  --bg-color2: #0c7489;
  --bg-color3: #040404;
  --destac-color: #119da4;
  --text-primary: #d7d9ce;
  --text-inverse: #0c7489;

  --section-padding-top: 8rem;
  --section-padding-side: 8vw;
}

/* TEMA CLARO */
#theme-toggle:checked ~ #page-container {
  --bg-color1: #040404;
  --bg-color2: #0c7489;
  --bg-color3: #d7d9ce;
  --destac-color: #119da4;
  --text-primary: #040404;
  --text-inverse: #d7d9ce;
}

body,
.service-card,
.header-fixed,
.portfolio-card,
.skill-card,
.form-input,
.submit-button,
.nav-button,
.section-title,
.skills-title,
.main-logo,
#page-container {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

body {
  background-color: var(--bg-color3);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* ==================================== */
/*             HEADER FIXO              */
/* ==================================== */

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--section-padding-side);
  color: #d7d9ce;
  background-color: #0c7489;
  box-shadow: #040404a1 0px 4px 6px -1px;
  z-index: 1000; 
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}


/* LOGO DA ESQUERDA */
.logo-small {
  color: #d7d9ce;
  font-family: "BUNGEE";
  font-size: 30px;
  line-height: 0.6;
  letter-spacing: 1px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.logo-outline {
  color: #0c7489;
  -webkit-text-stroke: 1px #d7d9ce;
  margin: 0 -2px; /* Ajuste espaçamento */
}

#subtitle {
  color: #d7d9ce;
  text-align: right;
  font-family: "BUNGEE";
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
  line-height: 0.4;
}

/* BARRA DE NAVEGAÇÃO */
.header-nav {
  position: relative; 
  border: solid 2px #d7d9ce;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  gap: 7rem;
  overflow: hidden; 
  isolation: isolate; 
}

.nav-button {
  color: #d7d9ce;
  font-family: "BUNGEE";
  letter-spacing: 1px;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}
.nav-button:hover {
  transform: scale(1.1);
}
.header-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%; 
  background-color: var(--destac-color); 
  z-index: -1; 
  
  animation: scroll-fill linear forwards;
  animation-timeline: scroll(root); 
}

@keyframes scroll-fill {
  from { width: 0%; }
  to { width: 100%; }
}


/* BOTÃO DE TEMA */
.theme-toggle-button {
  border: solid 2px #d7d9ce;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  transition: 0.3s;
  transition: transform 0.3s;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

.icon-display::before {
  content: "🌙";
}

#theme-toggle:checked ~ #page-container .icon-display::before {
  content: "☀️";
}

/* ==================================== */
/* ESTRUTURA GLOBAL E TÍTULOS */
/* ==================================== */
.content-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--section-padding-top);
  padding-bottom: 4rem;
}

.container-align {
  width: 100%;
  padding-left: var(--section-padding-side);
  padding-right: var(--section-padding-side);
}

.centered-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* TÍTULOS */
.section-titleB {
  font-family: "Bungee";
  font-size: 4rem;
  color: #0c7489;
  margin-bottom: 4rem;
  text-align: left; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px #07526156;;
}

.title-b { color: #0c7489; }
.section-title-outline-blue {
  color: #0c7489;;
  -webkit-text-stroke: 1px var(--bg-color1);
}
.section-titleN {
  font-family: "Bungee";
  font-size: 4rem;
  color: #d7d9ce;
  margin-bottom: 4rem;
  text-align: left; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}

.title-N { color: #0c7489; }
.section-title-outline-blue {
  color: #0c7489;;
  -webkit-text-stroke: 1px #d7d9ce;
}

/* ==================================== */
/*          SEÇÃO INICIO/HERO           */
/* ==================================== */

.hero-section {
  background-color: var(--bg-color3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Título Principal "TESCH" */
.main-logo {
  font-family: "Bungee", cursive;
  color: var(--bg-color2);
  font-size: 9rem;
  letter-spacing: 0.5rem;
  line-height: 1;
   text-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.logo-outline-main {
  color: transparent;
  -webkit-text-stroke: 3px #0c7489;
}

.subtitle-main {
  font-family: "goldman";
  font-size: 1.5rem;
  color: var(--bg-color1);
  margin: 1.5rem 0 3rem 0;
}

/* Botão START */
.start-button {
  font-family: "BUNGEE";
  color: var(--bg-color3);
  font-size: 2rem;
 padding: 0.3rem 1.2rem;
  background-color: var(--bg-color2);
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0 4px 15px rgba(17, 157, 164, 0.4);
}

.start-button:hover {
  box-shadow: 0 0 20px var(--destac-color);
  transform: translateY(-3px) scale(1.05);;
}
/* MODO CLARO */
#theme-toggle:checked ~ #page-container .logo-outline-main {
  color: var(--bg-color3);
  -webkit-text-stroke: 3px var(--bg-color2);
}
#theme-toggle:checked ~ #page-container .start-button {
  color: var(--bg-color3);
  -webkit-text-stroke: 3px var(--bg-color2);
}
#theme-toggle:checked ~ #page-container .subtitle-main {
  color: var(--bg-color1);
}
/* ==================================== */
/*              SEÇÃO SERVIÇOS          */
/* ==================================== */

#servicos {
  background-color: #0c7489;
}

.services-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  background-color:  #d7d9ce;
  padding: 3rem 2rem;
  position: relative;
  width: 20rem;
  gap: 2rem;
  border: 3px solid #d7d9ce;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.service-card:hover {
  z-index: 10;
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-family: "BUNGEE";
  font-size: 2.4rem;
  color: #0c7489;
  padding-bottom: 1.5rem;
}
.logo-outline-white {
  color: #d7d9ce;
  -webkit-text-stroke: 0.41px #0c7489;
  margin: 0 -2px;
}

.card-description {
  color: #0c7489;
  font-family: "goldman";
  font-size: 1.2rem;
  line-height: 1.5;
}

/* ==================================== */
/*            SEÇÃO PORTFOLIO           */
/* ==================================== */
#portfolio {
  background-color: var(--bg-color3);
}

.portfolio-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  transition: transform 0.3s;
  text-align: center;
  position: relative;
}

.card-frame {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid var(--bg-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.shelter-bg {
  background-color: #df9824; 
}
.ninjago-bg {
  background-color: #4a0000; 
}

.project-logo,
.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease; 
}

.project-name {
  margin-top: 1.5rem;
  font-family: "GOLDMAN";
  color: #0c7489;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.portfolio-card:hover .project-img, 
.portfolio-card:hover .project-logo {
  transform: scale(1.15); 
}

.portfolio-card:hover .card-frame {
  transform: scale(1.1);
  border-color: var(--destac-color);
  box-shadow: 0 0 40px rgba(17, 157, 164, 0.6);
}

/* Frase final */
.coming-soon {
  margin-top: 4rem;
  font-family: "GOLDMAN";
  color: #0c7489;
  font-style: italic;
}
/* ==================================== */
/*              SEÇÃO SOBRE             */
/* ==================================== */
#sobre { background-color: var(--bg-color2); }

.about-split-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 4rem;
  align-items: start;
}

.about-text-container {
  border-left: 5px solid #d7d9ce;
  padding-left: 2rem;
}

.about-text {
  font-family: "Goldman", sans-serif;
  color: #d7d9ce;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.skills-title {
  font-family: "Bungee", cursive;
  font-size: 2rem;
  color: #d7d9ce;
  margin-bottom: 2rem;
  margin-top: -7rem;
  text-align: right;
  width: 100%;
}

.skills-grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1.5rem;
}

.skill-card {
  width: 6rem;
  height: 6rem;
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.skill-card:hover { background: rgba(255,255,255,0.2); transform: scale(1.1); }
.skill-icon { width: 60%; height: 60%; object-fit: contain; }

/* ==================================== */
/*              SEÇÃO CONTATO          */
/* ==================================== */
#contato { background-color: var(--bg-color3); }

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 4rem;
}

.contact-form-container {
  flex: 1;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-family: "Bungee", cursive;
  color: var(--bg-color2);
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid var(--bg-color2);
  background: transparent;
  color: var(--bg-color2);
  font-family: "Goldman", sans-serif;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
}
.form-input:focus { 
  outline: none; 
  border-color: var(--destac-color); 
  box-shadow: 0 0 15px rgba(17, 157, 164, 0.3);
}

.submit-button {
  background-color: var(--bg-color2);
  color:  #d7d9ce;
  font-family: "Bungee", cursive;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 200px;
}
.submit-button:hover { 
  background-color: var(--destac-color); 
  box-shadow: 0 0 20px var(--destac-color);
}

.social-title {
  font-family: "Bungee", cursive;
  color: var(--bg-color2);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.social-link {
  font-family: "Bungee", cursive;
  color: var(--bg-color2);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.3s;
}
.social-link:hover { 
  color: var(--destac-color); 
  padding-left: 10px; 
  text-shadow: 0 0 10px rgba(17, 157, 164, 0.5);
}

.social-icon-github::before {
  content: ""; display: inline-block; width: 24px; height: 24px; background-color: currentColor;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.04-.015-2.04-3.34.72-4.04-1.605-4.04-1.605-.545-1.38-1.335-1.755-1.335-1.755-1.09-.745.09-.735.09-.735 1.2.09 1.83 1.245 1.83 1.245 1.065 1.83 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.475-1.335-5.475-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.285 0 .315.225.69.825.57C20.565 21.79 24 17.31 24 12c0-6.63-5.37-12-12-12z"/></svg>') no-repeat center;
}
.social-icon-whatsapp::before {
    content: ""; display: inline-block; width: 24px; height: 24px; background-color: currentColor;
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/></svg>') no-repeat center;
}

.project-description {
  text-align: center;
  color: #0c7489;
  font-family: "Goldman", sans-serif;
  margin-top: 2rem;
}

/* ==================================== */
/*                FOOTER                */
/* ==================================== */

.footer {
  background-color: #000000;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.footer-text {
  font-family: "goldman";
  font-size: 0.8rem;
  color: #d7d9ce;
}

/* ==================================== */
/* ANIMAÇÕES DE SCROLL (VIEW TIMELINE) */
/* ==================================== */
@keyframes reveal {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

.reveal-text, .reveal-card {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
/* ==================================== */
/* RESPONSIVIDADE             */
/* ==================================== */

/* --- NOTEBOOK / DESKTOP PEQUENO (Até 1024px) --- */
@media (max-width: 1024px) {
  :root {
    --section-padding-side: 4vw;
    --section-padding-top: 6rem;
  }

  .main-logo {
    font-size: 7rem;
  }

  .header-nav {
    gap: 3rem; 
  }

  .section-titleB, 
  .section-titleN {
    font-size: 3rem;
  }
  
  .skills-grid-2col {
    gap: 1rem;
  }
}

/* --- TABLETS (Até 768px) --- */
@media (max-width: 768px) {
  .header-fixed {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    position: relative; 
  }

  .header-nav {
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
  }

  .main-logo {
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }
  
  .subtitle-main {
    font-size: 1.2rem;
  }

  .section-titleB, 
  .section-titleN {
    font-size: 2.5rem;
    text-align: center; 
  }

  .service-card {
    width: 90%; 
  }

  .about-split-layout {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about-text-container {
    border-left: none;
    border-top: 5px solid #d7d9ce;
    padding-left: 0;
    padding-top: 2rem;
  }

  .skills-column {
    align-items: center; 
    margin-top: 2rem;
  }

  .skills-title {
    text-align: center;
    margin-top: 0;
  }

  .contact-content {
    flex-direction: column;
    gap: 2rem;
  }

  .form-input {
    max-width: 100%;
  }
}

/* --- MOBILE (Até 480px) --- */
@media (max-width: 480px) {
  .header-nav {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0.5rem;
  }
  
  .nav-button {
    font-size: 0.9rem;
  }

  /* Hero e Títulos */
  .main-logo {
    font-size: 3.5rem;
    line-height: 1.1;
  }

  .section-titleB, 
  .section-titleN {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  /* Serviços */
  .service-card {
    width: 100%;
    padding: 2rem 1rem;
  }

  .card-title {
    font-size: 1.8rem;
  }

  /* Skills */
  .skills-grid-2col {
    grid-template-columns: 1fr 1fr
  }
  
  .skill-card {
    width: 5rem;
    height: 5rem;
  }
}

/* --- MOBILE PEQUENO (Até 370px) --- */
@media (max-width: 370px) {
  .main-logo {
    font-size: 2.8rem;
  }

  .logo-small {
    font-size: 20px;
  }

  .nav-button {
    font-size: 0.8rem;
  }
  
  .header-nav {
    flex-direction: column; 
    align-items: center;
    gap: 0.8rem;
  }

  .section-titleB, 
  .section-titleN {
    font-size: 1.8rem;
  }
}

/* ==================================== */
/* TELAS GRANDES (HI-DPI)      */
/* ==================================== */

@media (min-width: 1600px) and (max-width: 1920px) {
  html {
    font-size: 18px; 
  }
  
  .container-align {
    max-width: 1600px; 
    margin: 0 auto;
  }
}

/* --- 2K (2048px x 1080px) --- */
@media (min-width: 1921px) and (max-width: 2500px) {
  html {
    font-size: 20px;
  }

  .main-logo {
    font-size: 10rem;
  }

  .container-align {
    max-width: 1800px;
    margin: 0 auto;
  }
}

/* --- 4K (3840px x 2160px) --- */
@media (min-width: 2501px) {
  html {
    font-size: 24px;
  }

  :root {
    --section-padding-side: 15vw; 
  }

  .main-logo {
    font-size: 14rem;
  }

  .service-card {
    width: 25rem;
  }
  
  .portfolio-card {
    max-width: 600px;
  }
  
  .header-nav {
    gap: 10rem;
  }
}