/* RESET BÁSICO */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #df9824;
}

/* CABEÇALHO */
header {
  background: #df9824;
  color: white;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}

nav {
  display: inline-block;
  margin-left: 40px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.botao {
  float: right;
  background: white;
  color: #df9824;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
  margin: 2px;
}

/* BANNER */
.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 400px;

}

.texto-banner {
  position: absolute;
  top: 100px;
  left: 50px;
  color: white;
  max-width: 400px;
}

/* CATEGORIAS */
.categorias {
  padding: 40px;
}

.card {
  background: #df9824;
  width: 25%;

  display: inline-block;
  margin: 2%;
  vertical-align: bottom;
  text-align: center;
  color: #ffffff;
}

.card img {
  width: 100%;
}

/* PROMOÇÂO */
.promo {
  background: #df9824;
  color: white;
  padding: 40px;
  margin-left: 20px;
}

.promo-texto {
  width: 50%;
  margin: 10px;
}

.promo-texto button {
  padding: 10px;
  background: white;
  border: none;
}

/* ARTIGO */
.artigo {
  padding: 40px;
}

.artigo img {
  width: 10%;
  display: inline-block;
}

.artigo-texto {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

/* RODAPÉ */
footer {
  background: #df9824;
  color: white;
  text-align: center;
  padding: 20px;
}
